---
layout: default
---

{% include sidebar.html %}

<div class='content pure-u-1 pure-u-md-3-4'>
  <div class='content-container'>
    <h1 class='content-subhead'>OSS</h1>

    <section class='projects'>
      <ul>
        {% for project in site.data.projects %}
          <li>
            <a href='{{ project.url }}' target='_blank'>{{ project.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>

    <h1 class='content-subhead'>Блог</h1>

    <section class='posts'>
      <ul>
        {% for post in site.posts %}
          <li>
            <a href='{{ post.url | prepend: site.baseurl }}'>{{ post.title }}</a>
            <span class='pubdate'>{{ post.date | date: '%-d/%-m/%Y' }}</span>
          </lin>
        {% endfor %}
      </ul>
    </section>

    {% include footer.html %}
  </div>
</div>
