<div class='sidebar pure-u-1 pure-u-md-1-4'>
  <div class='header sidebar-container'>
    <h1 class='brand-title'>Sergey</h1>
    <h1 class='brand-title'>Rezvanov</h1>
    <h2 class='brand-tagline'>{{ site.description }}</h2>

    <nav class='nav'>
      <ul class='nav-list'>
        <li class='nav-item'>
          <a class='pure-button' href='https://twitter.com/rezwyi' target='_blank'>Twitter</a>
        </li>
        <li class='nav-item'>
          <a class='pure-button' href='https://github.com/rezwyi' target='_blank'>GitHub</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
