.page-home {
  .items {
    margin-top: 50px;
    > h2.title {
      font-size: 1em;
    }
    > .item {
      margin-top: 10px;
      &:first-child{
        margin-top: -10px;
      }
      > .pubdate {
        display: inline-block;
      }
    }
    a {
      font-weight: bold;
    }
  }
}