.page-posts {
  margin-top: 50px;
  > .post {
    > h1.title {
      font-size: 1.5em;
      > .pubdate {
        display: inline-block;
        font-size: 0.6em;
        font-weight: normal;
      }
    }
    > .body {
      margin-top: 30px;
      img {
        display: block;
        max-width: 600px;
        margin: 30px auto;
      }
      > h2 {
        font-size: 1.3em;
        margin: 30px 0;
      }
      > h3 {
        font-size: 1em;
        margin: 30px 0;
      }
      > p {
        margin: 30px 0 0 0;
        &:first-child {
          img {
            float: right;
            margin: 0 0 1em 1em;
          }
        }
      }
      > ol, > ul {
        margin: 10px 0 0 45px;
      }
    }
  }
}